<%= form_tag("/filmes", method: "post")  do  %>

  <%= hidden_field_tag :id , @filme.id %>
  <div class="form-group row">
    <%= label_tag :titulo , 'Título'%>
    <%= text_field_tag :titulo , @filme.titulo, class:"form-control" %>
  </div>

  <div class="form-group row">
    <%= label_tag :diretor %>
    <%= text_field_tag :diretor , @filme.diretor , class:"form-control" %>
  </div>

  <div class="form-group row">
    <%= label_tag :estudio, 'Estúdio' %>
    <%= text_field_tag :estudio , @filme.estudio, class:"form-control" %>
  </div>

  <div class="form-group row">
    <%= label_tag :genero , 'Gênero'%>
    <%= text_field_tag :genero , @filme.genero, class:"form-control" %>
  </div>

  <div class="form-group row">
    <%= label_tag :ano , "Ano de lançamento" %>
    <%= text_field_tag :ano , @filme.ano, class:"form-control" %>
  </div>

  <div class="row">
    <%= submit_tag  'Salvar' , class:'btn btn-primary' %>
  </div>
<% end %>
