<%= form_tag("/filmes", method: "post")  do  %>

  <div class="field">
    <%= label_tag :titulo %>
    <%= text_field_tag :titulo %>
  </div>

  <div class="field">
    <%= label_tag :diretor %>
    <%= text_field_tag :diretor %>
  </div>

  <div class="field">
    <%= label_tag :estudio %>
    <%= text_field_tag :estudio %>
  </div>

  <div class="field">
    <%= label_tag :genero %>
    <%= text_field_tag :genero %>
  </div>

  <div class="field">
    <%= label_tag :anoLancamento %>
    <%= text_field_tag :anoLancamento %>
  </div>

  <div class="actions">
    <%= submit_tag %>
  </div>
<% end %>
