<p id="notice"><%= notice %></p>

<h1>Filmes</h1>
<%= form_tag("/filmes", method: "get")  do  %>
  <div>
    <h3>Buscar filmes</h3>
    <label for="titulo">Título</label><input type="text" name="busca_titulo" id="titulo"/>
    <label for="diretor">Diretor</label><input type="text" name="busca_diretor" id="diretor"/>
    <label for="estudio">Estúdio</label><input type="text" name="busca_estudio" id="estudio"/>
    <label for="genero">Gênero</label><input type="text" name="busca_genero" id="genero"/>
    <label for="ano">Ano de Lançamento</label><input type="text" name="busca_ano" id="ano"/>
    <button type="submit" >Pesquisar </button>
  </div>
<% end %>
<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Diretor</th>
      <th>Estudio</th>
      <th>Genero</th>
      <th>Anolancamento</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @filmes.each do |filme| %>
      <tr>
        <td><%= filme[:titulo] %></td>
        <td><%= filme[:diretor] %></td>
        <td><%= filme[:estudio] %></td>
        <td><%= filme[:genero] %></td>
        <td><%= filme[:ano_lancamento] %></td>
        <td><%= link_to 'Show', filme[:id] %></td>
        <td><%= link_to 'Edit', edit_filme_path(filme[:id]) %></td>
        <td><%= link_to 'Destroy', filme, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Filme', new_filme_path %>